<div class="border-b border-gray-200">
  <nav class="flex">
    <a id="allBtn" href="/orders/all" class="text-gray-500 py-4 px-6 bg-white rounded-t-lg font-semibold border-b-2 border-transparent hover:border-blue-500 focus:outline-none  <%= activeTab === 'all' ? 'bg-gray-200' : '' %>">
      All Orders
    </a>
    <a id="openBtn" href="/orders/open" class="text-gray-500 py-4 px-6 bg-white rounded-t-lg font-semibold border-b-2 border-transparent hover:border-blue-500 focus:outline-none <%= activeTab === 'open' ? 'bg-gray-200' : '' %>">
      Open Orders
    </a>
    <a id="closedBtn" href="/orders/closed" class="text-gray-500 py-4 px-6 bg-white rounded-t-lg font-semibold border-b-2 border-transparent hover:border-blue-500 focus:outline-none <%= activeTab === 'closed' ? 'bg-gray-200' : '' %>">
      Closed Orders
    </a>
  </nav>
</div>

<table id="ordersTable" class="max-w-xl table-auto divide-y divide-gray-200">
  <thead class="bg-gray-50">
    <tr>
      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
        ID
      </th>
      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
        Title
      </th>
      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
        Status
      </th>
      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
        View Order
      </th>
    </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-200">
    <% if (activeTab === 'all') { %>
    <%- include('partials/all_orders') %>
    <% } else if (activeTab === 'open') { %>
    <%- include('partials/open_orders') %>
    <% } else if (activeTab === 'closed') { %>
    <%- include('partials/closed_orders') %>
    <% } %>
  </tbody>
</table>